@charset "utf-8";        
        /* 드롭메뉴 */
        #drop{ display:none;}
        .dropmenu{ display:none; width:100%; height:50px; position:fixed; z-index:400; top:50px; }
        .dropmenu li { display:block; float:left; width:33.333333%; height:30px; text-align:center; margin:0 auto; box-shadow:-2px 2px 5px #000; }
        .droplist a{ text-align:center; color:#fff; font-size:0.75em; font-weight:200; text-indent:20px; }
        
        .blank{ position:static; width:100%; height:50px; }
        
        
        #drop:checked ~ .dropmenu { display:block; }